*{box-sizing:border-box;font-family:Arial;margin:0;padding:0}
body{background:#fff8dc;padding-bottom:80px}
.topbar{
  background:#ffc107;
  padding:14px;
  font-size:18px;
  font-weight:bold;
  text-align:center;
  position:sticky;top:0;z-index:9;
}
.card{
  background:#fff;
  margin:12px;
  padding:15px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,.15);
}
input,select,button{
  width:100%;
  padding:14px;
  margin-top:10px;
  font-size:16px;
}
button{
  background:#ffc107;
  border:none;
  border-radius:8px;
  font-weight:bold;
}
button:active{transform:scale(.97)}
.game-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.play{
  background:green;color:#fff;
  padding:8px 14px;border-radius:6px;
}
table{
  width:100%;
  border-collapse:collapse;
  display:block;
  overflow-x:auto;
}
td,th{
  border:1px solid #ccc;
  padding:8px;
  text-align:center;
}
.approve{background:green;color:#fff}
.reject{background:red;color:#fff}
img{max-width:100%;border-radius:8px}
